body
{
    background: red;
}
h3
{
    color: blue;
}

form
{
    background: lightgrey;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
input
{
    margin: 5px;
}
input[type="submit"]
{
    background: green;
    color: white;
    font-weight: bold;
}
input[type="reset"]
{
    background: orange;
    color: white;
    font-weight: bold;
}
input[type="text"]
{
    color: blueviolet
}
